/*--------------------------------------------------------------
# skills
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
#skill-section .content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
#skill-section .content ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  list-style-type: none;
}
#skill-section .content ul li .bullet {
  width: 0.7rem;
  height: 0.7rem;
}
#skill-section .content ul li {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
#skill-section .content ul li span {
  font-weight: 700;
}
#skill-section .skill-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#skill-section .skill-list a img {
  width: 20rem;
}
/*__________________________________________________________________
      
desktop and tablet devices

____________________________________________________________________*/
/* Styles for mobile devices (default) */

/* Media query for tablets (768px - 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Add tablet-specific styles here */
  #skill-section .content ul {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
  #skill-section .skill-list a img {
    width: 30rem;
  }
}

/* Media query for desktops (min-width: 1024px) */
@media screen and (min-width: 1024px) {
  /* Add desktop-specific styles here */
}